mixin style(name)
  if APP_MODE === 'production'
  link(href=`${name}.css`, rel='stylesheet')

mixin image(obj)
  -
    let type = '';
    if (obj.src && typeof obj.src === 'string') {
      let parts = obj.src.split('.');
      type = parts[parts.length - 1];
    } else {
      console.error('Ошибка в миксине image: src не является строкой или не определен.', obj);
    }

  if type === 'svg'
    if obj.quickLoad
      img(src=obj.src, alt='alt', class=obj.klassImg, loading="eager")
    else
      img(src=obj.src, alt='alt', class=obj.klassImg, loading="lazy")
  else if (type)
    picture(class=obj.klassPic)
      if obj.quickLoad
        img(src=obj.src, alt='alt', class=obj.klassImg, loading="eager")
      else
        img(src=obj.src, alt='alt', class=obj.klassImg, loading="lazy")
  else
    p(style="color: red;") [Image Error: Invalid source provided]